/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2018, 6:51:42 PM
    Author     : ericegana
*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800");

/* =Global
----------------------------------------------- */
* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    vertical-align: baseline;
}

body {
    /*background: white url("../images/bg_2KT.jpg") repeat-x;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; /*for older browsers*/
    font-size: 1.4rem;
    color: #666;
    line-height: 1.5;
    vertical-align: baseline;
}

/* Global Text elements */
h1, h2, h3, h4, h5, h6 {
    color: #004d68; /**/
    /*#003399;#004d68;=rgb(0,77,104); #003a99 = middle*/
}

.tema-blu {
    color: #003a93; /*#004d68;*/
    /*=rgb(0,77,104)*/
}

p {
    font-weight: 400;
    margin: 0 0 1.5em;
}

#main-content p {
    text-align: justify;
}

p.nospace {
    margin-bottom: 0px;
}

ul, ol {
    margin: 0px 0px 1.5em 3em;
}

ul {
    list-style: disc outside none;
    border: 0px none;
    font-size: 100%;
    font-weight: 400;
    text-align: inherit;
    outline: 0px none;
    padding: 0px;
    vertical-align: baseline;
}

ol {
    list-style: decimal;
}

ol.roman {
    list-style-type: lower-roman;
}

li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

figure {
    margin: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/*tables */
table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

th, td {
    font-weight: normal;
    text-align: left;
}

th {
    font-weight: bold;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/* GLobal links */
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a, a:visited {
    color: #004d68;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: midnightblue;
}

/* Clearing css-tricks.com/pseudo-element-roundup/  */
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /*For IE 6/7 (trigger hasLayout) */
}

/* Layout */
#page {
    max-width: 980px;
    background-color: #eeeeee;
    margin: 8px auto 0px;
    padding: 0px;
    position: relative;
}

.relative {
    position: relative;
}

/*=supra-header
------------------------------------------------ */
#supra-header {

    border-top: 8px solid #b09b4c;
    border-bottom: 4px solid white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;

}

/* =header
----------------------------------------------- */
#header {
    width: 100%;
    max-width: 980px; /* necessary if position is fixed */
    height: 189px; /* if this is changed, #main-container & #navigation must change too */
    background-color: #eeeeee;
    /*background-image: url('../images/logo2_Sans_kt1_2.21.png');
    background-repeat: no-repeat;
    background-position: 20px 16px;
        background-size: auto 80px;
    */
    border-bottom: 8px solid #b09b4c;
    padding: 10px 5px 10px 20px;
    position: fixed;
    top: 12px;
    overflow: hidden;
    z-index: 300;
}

#stars {
    background-image: url('../images/Stars_DV_logo_kt1_2.21.png');
    background-repeat: no-repeat;
    /*background-position: 20px 16px;
        background-size: auto 80px;*/
    /*position: relative;
    top: -3px; left: 40px;
    z-index: 290;*/
    padding: 4px 0 0 20px;
}

#header h1 {
    font-size: 6rem;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    line-height: 1.2;
    margin-bottom: 0;
    background-color: transparent;

}

#header h4 {
    font-size: 14px; /*for older browsers*/
    font-size: 1.4rem;
    margin-left: 100px;
}




body {top: 0px !important; position: static !important; }
iframe.goog-te-banner-frame,.goog-te-balloon-frame{display:none !important;}



/*.goog-te-gadget-icon {display:none;}      *//*Remove Google icon:*/
/*.goog-te-gadget-simple a {text-decoration: none !important;}*/

/* =main-container Layout
----------------------------------------------- */
#main-container {
    margin: 205px auto 0px; /* top margin to clear fixed elements above */
    padding: 10px 20px 0 20px;
}

#tableDiv {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#main-content {
    display: table-cell;
    width: 70%;
    vertical-align: top;
}

#buttons-container {
    display: table-cell;
    margin-top: 0px;
    width: 30%;

}

/* =main-content 
----------------------------------------------- */

#investment_philosophy{
    
}

#about{
    
}

#research{
    
}

#internships{
    
}

#contact{
    
}

.crumbs {
    list-style: none;
    margin: 26px 0 6px;
    padding: 0;
    zoom: 1;
}

.crumbs:before, .crumbs:after {
    content: " ";
    display: table;
}

.crumbs:after {
    clear: both;
}

.crumbs li {
    float: left;
    text-transform: uppercase;
    font-size: 18px; /*for older browsers*/
    font-size: 1.8rem;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #004d68;
    /*line-height: 14px; */
    color: #b09b4c;
}

.crumbs li:last-child {
    border-right: none;
}
#crumbs {
    list-style: none;
    margin: 26px 0 6px;
    padding: 0;
    zoom: 1;
}



#main-content .article-title h1 {
    font-size: 18px; /*for older browsers*/
    font-size: 1.8rem;
    font-weight: 400;
    margin: 8px 0 0;
    color: #b09b4c; /* gold */
}

#main-content h1, #main-content h2, #main-content h3 {
    text-transform: uppercase;
}

#main-content h2.noTextTransform {
    text-transform: none;
}

#main-content h1 {
    font-weight: 800;
    font-size: 24px; /*for older browsers*/
    font-size: 2.4rem;
    line-height: 32px;
    margin: 0 0 20px;
    font-size-adjust: 0.58;
    padding: 0;
    vertical-align: baseline;
}

#main-content h2 {
    font-weight: 700;
    font-size: 18px; /*for older browsers*/
    font-size: 1.8rem;
    line-height: 24px;
    margin: 20px 0 0;
}

#main-content h3 {
    font-weight: 600;
    font-size: 16px; /*for older browsers*/
    font-size: 1.6rem;
    line-height: 24px;
    margin: 10px 0 0;
}

#main-content h4 {
    color: #b09b4c; /* gold */
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px; /*for older browsers*/
    font-size: 1.8rem;
    margin: 0;
}



#main-content strong {
    font-weight: 700;
}

.inline {
    display: inline;
    padding: 10px;

}

.bullet-span {
    white-space: nowrap;
}

.bullet-span:before {
    content: 'â€¢ \a0';
}

/*'\261E \a0'; */
.bullet-span:after {
    content: '\a0';
}

.symbol {  font-weight: 400;
    font-style: italic;
    font-size: 18px; /*for older browsers*/
    font-size: 1.8rem;
    margin: 0;
    padding: 0;}



/* =buttons-container
----------------------------------------------- */

.items {
    padding: 8px 0px 0px;
    margin: 0;
    position: relative;
}

.items li {
    display: block;

    /*text-transform: capitalize;*/
    list-style-type: none;
    width: 100%;
    height: 90px;
    padding: 8px 0 4px 0;
    /*background-color: palegreen;*/
    text-align: right;
    /*margin-right: -10px;*/
}

.outerContainer {
    display: table;
    table-layout: fixed;
    width: 90%;
    max-width: 240px;
    height: 72px;
    /* margin-left: 10%;
     margin-right: 0%;
     overflow: hidden;*/
    border-radius: 4px;
    background-position: top left;
    float: right;
    padding: 5px;

    /*background-position: 0px -72px;*/
}

.outerContainer:hover {
    background-position: bottom left;
}

.innerContainer {

    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;

    overflow: hidden;
    background: #004d68;
    background: rgba(0, 77, 104, 0.55);
}

.innerContainer div {
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    vertical-align: middle;

}



.innerContainer p {
    color: white;
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px; /*for older browsers*/
    font-size: 2.0rem;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 5px 0;
    min-height: 38px;
}

.innerContainer p:hover {
    font-weight: 400;
    font-size: 22px; /*for older browsers*/
    font-size: 2.2rem;
}

/*Collapsible div for Professionisti.html JS toggle
==============================================*/
.extra-info {
    font-size: 1.6rem;
    display: none;
}

/*Format for Bibliografia.html
==============================================*/

ul.citation {
    padding: 0;
    margin: 10px;
    text-align: left;
    font-size: 11px; /*for older browsers*/
    font-size: 1.1rem;
}

.citation li {
    padding-right: .3em;
    margin: 0.5em 0;
}

.bibliografica {
    margin: 0;
    vertical-align: top;
}

div.more {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

div.bottom-part {
    height: 380px;

}

/*Contac Us style =====================*/

div#email-address {
    float: right;
}

/*Document Contact Style===================*/

div.contact-input {
    margin-bottom: 15px;
    box-sizing: border-box;
}

.input {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

label.label-input {
    width: 16.6667%;
    float: left;
    text-align: right;
    padding: 15px 15px 7px;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
}

.btn.send {

    background-color: #004d68;
    color: #ffffff;
}

.contact-submit {
    margin-left: 16.667%;
}

/*================News  */

.news_line {
    margin: 0px;
    float: left;
    width: 100%;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #FFF;
    height: auto;
}

h4.news_title, .news_title {
    padding-left: 30px;
}

.clearfix {
    overflow: auto;
}

.img_news {
    padding: 10px 25px 5px 5px;
    width: 50%;
    height: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right_1 {
    float: right;
    margin-right: 70px;
    margin-top: -10px;
}

ul.news li {
    padding-bottom: 10px;
}

button.nav-toggle {
    background-color: #eeeeee;
    border: none;
    color: #004d68;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0px 0px;
    cursor: pointer;
}

.clearfix_new {
    overflow: auto;
}

.red_border {
    border: 5px solid red;
}