/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2018, 6:54:16 PM
    Author     : ericegana
*/

/* =Navigation
----------------------------------------------- */
@charset "UTF-8";
#navigation {
    position: fixed;
    top: 139px; /*change along with header */
    /* do not set left */
    width: 100%;
    max-width: 1020px;
    z-index: 400;
}

#menu-main-container	{
    position: static; /* to allow overhang effect when width >980px */
    border-radius: 6px;
    box-shadow: 0 0 6px -2px #333333;
    width: 100%;
    padding: 0 15px;
    height: 50px;
    border: 1px solid #fff;
    background: url("images/main-nav-bkg.jpg") repeat-x;
}


/* overhang effect. 986opx for slight delay */
@media only screen and (min-width: 986px) {
    #menu-main-container { position: relative;
                           left: calc(-50% + 490px); }
}

#navigation .menu-main, #navigation .sub-menu {
    /* Navigation tab height */
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #eeeeee;
}

#navigation .menu-item {
    font-size: 12px;    /*for older browsers*/
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15px;
    max-height: 100%;
    text-align: center;
    background: url("images/main-nav-divider.png") right center no-repeat;
    width: 5px;
    padding-right: 5px;
    height: 48px;
    float: left;
    position: relative;
}

#navigation .menu-item:hover > ul { display: block;}


#navigation .menu-item a {
    padding: 9px 15px;
    color: #004d68;
    letter-spacing: 0.1em;
    height: 40px; /* each box in a list*/
    text-decoration: none;
    font-weight: 400;
    display: block;
}

#navigation .menu-item a:hover {
    background: url("images/main-nav-hover.jpg") repeat-x;
    text-decoration: none;
}

#navigation .menu-item ul {
    top: 48px;
    height: auto;

}
#navigation .sub-menu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99999;
}
#navigation .sub-menu.large{width: 460px;}
#navigation .sub-menu.small {width: 180px;}

#navigation .sub-menu li {
    background: none;
    text-align: left;
    border-top: 1px solid #fff;
    padding-right: 0;
}

#navigation .sub-menu a:hover {
    background: url("images/white90.png");
    white-space: normal;

}
#navigation .sub-menu a {height: 95%;}

#navigation .num-00 {width: 9%;}
#navigation .num-20 {width: 20%;}
/* #navigation .num-30 {width: 13%;} */
#navigation .num-40 {width: 18%;}
#navigation .num-50 {width: 18%;}
#navigation .num-60 {width: 8%;}
#navigation .num-70 {width: 8%;}


#navigation .menu-item .toggle-symbol { display: none; }

li.menu-item.num-00 a:before { content: 'DE NOBIS'}
.num-00 .sub-menu.small li:nth-child(1) a:before { content: 'De NOBIS - about us'; }
.num-00 .sub-menu.small li:nth-child(2) a:before { content: "Professionals"; }
.num-00 .sub-menu.small li:nth-child(3) a:before { content: "EU Court of Justice cases"; }
.num-00 .sub-menu.small li:nth-child(4) a:before { content: "Bibliography"; }
.num-00 .sub-menu.small li:nth-child(5) a:before { content: "News"; }
.num-00 .sub-menu.small li:nth-child(6) a:before { content: "Contact Us"; }


li.menu-item.num-20 a:before { content: "Practice Areas";}
.num-20 .sub-menu.large li:nth-child(1) a:before { content: "Antitrust, State aid, Competition"; }
.num-20 .sub-menu.large li:nth-child(2) a:before { content: "ADR - Negotiation, Mediation, Arbitration"; }
.num-20 .sub-menu.large li:nth-child(3) a:before { content: "Customs Law"; }
.num-20 .sub-menu.large li:nth-child(4) a:before { content: "Exchanges within the internal area of â€‹the European Union"; }
.num-20 .sub-menu.large li:nth-child(5) a:before { content: "Imports/Exports from/to Countries extra EU"; }
.num-20 .sub-menu.large li:nth-child(6) a:before { content: "Agriculture, fishing, industry, environment"; }
.num-20 .sub-menu.large li:nth-child(7) a:before { content: "Commercial contracts"; }
.num-20 .sub-menu.large li:nth-child(8) a:before { content: "Intellectual Property & Trademarks"; }
.num-20 .sub-menu.large li:nth-child(9) a:before { content: "360Â° consultancy in Germany"; }
.num-20 .sub-menu.large li:nth-child(10) a:before { content: "Real Estate in USA and Germany"; }

/*

li.menu-item.num-30 a:before { content: "National Laws";}
.num-30 .sub-menu.large li:nth-child(1) a:before { content: "Antitrust, State aid, Competition"; }
.num-30 .sub-menu.large li:nth-child(2) a:before { content: "ADR - Negotiation, Mediation, Arbitration"; }
.num-30 .sub-menu.large li:nth-child(3) a:before { content: "Agriculture, fisheries, industry, environment"; }
.num-30 .sub-menu.large li:nth-child(4) a:before { content: "Customs and Criminal-administrative Law in relation to the financial resources of the European Union"; }
.num-30 .sub-menu.large li:nth-child(5) a:before { content: "Commercial contracts"; }
.num-30 .sub-menu.large li:nth-child(6) a:before { content: "Trademarks, Designs"; }
.num-30 .sub-menu.large li:nth-child(7) a:before { content: "360Â° consultancy in Germany"; }
*/
li.menu-item.num-40 a:before { content: "Actions based on EU Law";}

li.menu-item.num-50 a:before { content: "EU Court of Justice cases"; }
li.menu-item.num-60 a:before { content: "Offices"; }
li.menu-item.num-70 a:before { content: 'News'}