
nav{
	border:1px solid #e7e7e7; 
	background:#f8f8f8;
} 
 td{
    max-width:180px;
    width:180px;
    
    }
  p{
	display:inline;
	color:black; 
        margin-right: 20px;
  }
  .btn.btn-default.btn-md{
	margin-left:-5px;  
  }
  form div div input.btn.btn-default.btn-sm, form div input.form-control{
	margin-top:0px;
	float:right!important;
  }
  input.btn.btn-default.btn-sm{
	height:34px;  
  }
  h1{
    font-size:30px;
  }
  h4{
   
    font-size: 12px;
  }
  #delay{
	  margin-top:-20px;
  }
  h2{
    margin-left:10px;
  }
  #symbol{
	text-align:center;
	display: inline;
	margin-left:40%;  
  }
  span#link{
	margin-left: -54px; 
	margin-right: 20px;
  }
  h4.stock_title{
	display: inline;
	margin-left:22px
  }
  ul{
	float:right;
	margin-right:150px;
	margin-top:-5px;
	white-space: nowrap;
  }
  ul li{
	list-style-type: none;  
  }
  ul li h4{
	display: inline;
	margin-right:10%  
  }
  table{
	text-align:left;
  }
  td h4{
	display: inline;
	margin-right:10%;
  }
  button{
	 margin-left:50px;  
  }
  #btn1,#btn2,#btn3,#btn4,#btn5{
    border:none;
    background:none
  }
  textarea{
	width:95%;
	height:100px;
	display:none;
  }
  .textarea {
    width:95%;
    min-height:140px;
    height:auto;
    border:1px solid grey;
    white-space: pre-wrap;
}
  #question, #case,#catalyst, #ticket ,#stra {
    display:none;
  }
  
  #main-content{
	width:98%; 
	margin:12px; 
	margin-top:4%
  }
  body { min-width:900px;}
  .navbar{
    min-height:27px;
	border:1px solid #e7e7e7;
	background:#f8f8f8;
  }

  @media screen and (max-width: 764px) {
      #main-content {
            margin-top: 14%!important
        }
  }
   /*<nav style="border:1px solid #e7e7e7; background:#f8f8f8"*/