/* =Navigation
----------------------------------------------- */
@charset "UTF-8";
#navigation {
    position: fixed;
    top: 139px; /*change along with header */
    /* do not set left */
    width: 100%;
    max-width: 1020px;
    z-index: 400;
}

#menu-main-container	{
    position: static; /* to allow overhang effect when width >980px */
    border-radius: 6px;
    box-shadow: 0 0 6px -2px #333333;
    width: 100%;

    padding: 0 15px;
    height: 50px;
    border: 1px solid #fff;
    background: url("../images/main-nav-bkg.jpg") repeat-x;


}


/* overhang effect. 986opx for slight delay */
@media only screen and (min-width: 986px) {
    #menu-main-container { position: relative;
                           left: calc(-50% + 490px); }
}

#navigation .menu-main, #navigation .sub-menu {
    /* Navigation tab height */
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #eeeeee;
}

#navigation .menu-item {
    font-size: 12px;    /*for older browsers*/
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15px;
    max-height: 100%;
    text-align: center;
    background: url("../images/main-nav-divider.png") right center no-repeat;
    width: 5px;
    padding-right: 5px;
    height: 48px;
    float: left;
    position: relative;
}

#navigation .menu-item:hover > ul { display: block;}


#navigation .menu-item a {
    padding: 9px 15px;
    color: #004d68;
    letter-spacing: 0.1em;
    height: 40px; /* each box in a list*/
    text-decoration: none;
    font-weight: 400;
    display: block;
}

#navigation .menu-item a:hover {
    background: url("../images/main-nav-hover.jpg") repeat-x;
    text-decoration: none;
}

#navigation .menu-item ul {
    top: 48px;
    height: auto;

}
#navigation .sub-menu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99999;
}
#navigation .sub-menu.large{width: 460px;}
#navigation .sub-menu.small {width: 180px;}

#navigation .sub-menu li {
    background: none;
    text-align: left;
    border-top: 1px solid #fff;
    padding-right: 0;
}

#navigation .sub-menu a:hover {
    background: url("../images/white90.png");
    white-space: normal;

}
#navigation .sub-menu a {height: 95%;}

#navigation .num-00 {width: 9%;}
#navigation .num-20 {width: 20%;}
/* #navigation .num-30 {width: 13%;} */
#navigation .num-40 {width: 18%;}
#navigation .num-50 {width: 18%;}
#navigation .num-60 {width: 8%;}
#navigation .num-70 {width: 8%;}


#navigation .menu-item .toggle-symbol { display: none; }

li.menu-item.num-00 a:before { content: 'De Nobis'}
.num-00 .sub-menu.small li:nth-child(1) a:before { content: 'De NOBIS'; }
.num-00 .sub-menu.small li:nth-child(2) a:before { content: 'Professionisti'; }
.num-00 .sub-menu.small li:nth-child(3) a:before { content: 'cause davanti alla Corte UE'; }
.num-00 .sub-menu.small li:nth-child(4) a:before { content: 'bibliografia'; }
.num-00 .sub-menu.small li:nth-child(5) a:before { content: 'Nova'; }
.num-00 .sub-menu.small li:nth-child(6) a:before { content: 'Contattaci'; }

li.menu-item.num-20 a:before { content: 'Aree di Attività'}
.num-20 .sub-menu.large li:nth-child(1) a:before { content: 'Antitrust, aiuti di stato, concorrenza'; }
.num-20 .sub-menu.large li:nth-child(2) a:before { content: 'Arbitrati, ADR e strategia negoziale'; }
.num-20 .sub-menu.large li:nth-child(3) a:before { content: "Diritto doganale e penale-amministrativo in relazione alle risorse finanziarie dell\'Unione"; }
.num-20 .sub-menu.large li:nth-child(4) a:before { content: "Scambi all\'interno dell\'area dell\'Unione Europea"; }
.num-20 .sub-menu.large li:nth-child(5) a:before { content: 'Importazioni/esportazioni da e verso Paesi UE'; }
.num-20 .sub-menu.large li:nth-child(6) a:before { content: 'Agricoltura, pesca, industria, ambiente'; }
.num-20 .sub-menu.large li:nth-child(7) a:before { content: 'Contratti di natura commerciale'; }
.num-20 .sub-menu.large li:nth-child(8) a:before { content: 'Proprietà Intellettuale e Marchi'; }
.num-20 .sub-menu.large li:nth-child(9) a:before { content: 'Consulenza a 360° per apertura di attività in Germania'; }
.num-20 .sub-menu.large li:nth-child(10) a:before { content: 'Immobiliare USA'; }

/*
li.menu-item.num-30 a:before { content: 'Diritti nazionali'}
.num-30 .sub-menu.large li:nth-child(1) a:before { content: 'Antitrust, aiuti di stato, concorrenza'; }
.num-30 .sub-menu.large li:nth-child(2) a:before { content: 'Arbitrati, ADR e strategia negoziale'; }
.num-30 .sub-menu.large li:nth-child(3) a:before { content: 'Agricoltura, pesca, industria, ambiente'; }
.num-30 .sub-menu.large li:nth-child(4) a:before { content: "Doganale e penale-amministrativo in relazione alle risorse finanziarie dell\'Unione"; }
.num-30 .sub-menu.large li:nth-child(5) a:before { content: 'Contratti di natura commerciale'; }
.num-30 .sub-menu.large li:nth-child(6) a:before { content: 'Marchi, disegni e modelli'; }
.num-30 .sub-menu.large li:nth-child(7) a:before { content: 'Consulenza a 360° per apertura di attività in Germania'; }
*/

li.menu-item.num-40 a:before { content: 'Azioni basate sul diritto UE'}
li.menu-item.num-50 a:before { content: 'cause davanti alla corte UE'}

li.menu-item.num-60 a:before { content: 'uffici'}
li.menu-item.num-70 a:before { content: 'nova'}