
.paginate_button{
      margin-left:5px;
}
    
div#outer{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
        
.navbar{
    position: fixed;
    top: 0;
    z-index:1;
    min-height:33px;
    }
    
p#user_id{
    display:inline;
}

button{
    display:inline-block;
}

#logout_button{
    margin-left:40px;
}

#loader_button{
    margin-top:5px;
}

h2{
    text-align:center; 
    margin-top:-29px;
}

p#user_type{
    margin-top:-23px;
}

p#securities_notice{
    text-align:center; 
    margin-top:58px
}

#SummarizerTable_filter{
    position:fixed;
    display:block;/**/
    margin-left:60%;
    margin-right:10%;/*<table style="margin-right:10%"*/
    margin-top:-77px;
    z-index:9999;
}

#SummarizerTable{
    margin-right: 10%;
}
   
table th, td{
    width:200px;
    text-align: right;
}

tr{
    display:block;
}

tbody{
    display:block;
    height:800px;
    overflow-x:auto;
}

footer{
    text-align:center;
}